
body {
    background-color: pink;
}
h1 {
    background: linear-gradient(45deg, crimson, yellow);
    text-align: center;
    color: azure;
    line-height: 50vh;
    background-clip: text;
}
p {
    color: blue;
}